<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" {{action "dismiss"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">LIBRARY</h4>
  </div>
  <div class="modal-body">
    <div class="row m-a">
      <div class="col-sm-6">
        <div class="hr-divider">
          <h3 class="hr-divider-content hr-divider-heading">
        Websites link
     </h3>
        </div>
        <div class="content m-a">
          <ul class="list-group">
            <li class="list-group-header">List group header</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hr-divider">
          <h3 class="hr-divider-content hr-divider-heading">
        Useful content
     </h3>
        </div>
        <div class="content m-a">
          <ul class="list-group">
            <li class="list-group-header">List group header</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action "dismiss"}}>Close</button>
  </div>
</div>
<!-- /.modal-content -->

