<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close"  {{action "dismiss"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Complete task or cancel</h4>
  </div>
  <div class="modal-body">
	 <button type="button" class="btn btn-success btn-lg" {{action "complete"}}>Complete Task</button>
   <button type="button" class="btn btn-danger btn-lg" {{action "cancel"}} disabled="true">Cancel Task</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"  {{action "dismiss"}}>Close</button>
  </div>
</div><!-- /.modal-content -->
