@import 'bower_components/theme-dashboard/less/toolkit-inverse.less';
@body-bg: rgb(82, 43, 91);
// @body-bg: rgb(97, 8, 8);

@pre-bg:  darken(@body-bg,5%);
@note-bg: darken(@body-bg,5%);
@blink: #c00;
@blink-bg: lighten(@blink,5%);
@blink-bg: lighten(@blink,5%);
@pre-text-color: #e1e1e1;
// @import 'bower_components/theme-dashboard/less/toolkit-light.less';
// @body-bg: rgba(255, 136, 136, 0.11);
// @text-color: black;
// @brand-primary: maroon;

@media (min-width: 768px) {
  .with-iconav > .liquid-container {
    margin-left: 70px;
  }
}

dl {

  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

	  dt {
	  float: left;
	  width: 45%;
	  padding: 0;
	  margin: 0
	}
	dd {
	  float: left;
	  width: 55%;
	  padding: 0;
	  margin: 0
	}
}

pre {
	background: @pre-bg;
	color:@pre-text-color;
}

.setRules(){
	background: @note-bg;
	color:@pre-text-color;
}
.form-control{
	.setRules();
	&:focus{
		.setRules();
	}
	&:hover{
		.setRules();
	}

}


.blinker{
	 animation: changecolor 0.5s infinite;
	-moz-animation: changecolor 0.5s infinite;
	-webkit-animation: changecolor 0.5s infinite;
	-ms-animation: changecolor 0.5s infinite;
	-o-animation: changecolor 0.5s infinite;
}

@keyframes changecolor
{
	0%   {color: @pre-text-color; background:@pre-bg;}
	100% {color: @pre-text-color; background:@blink-bg;}
}
/* Mozilla Browser */
@-moz-keyframes changecolor
{
	0%   {color: @pre-text-color; background:@pre-bg;}
	100% {color: @pre-text-color; background:@blink-bg;}
}
/* WebKit browser Safari and Chrome */
@-webkit-keyframes changecolor
{
	0%   {color: @pre-text-color; background:@pre-bg;}
	100% {color: @pre-text-color; background:@blink-bg;}
}
/* IE 9,10*/
@-ms-keyframes changecolor
{
	0%   {color: @pre-text-color; background:@pre-bg;}
	100% {color: @pre-text-color; background:@blink-bg;}
}
/* Opera Browser*/
@-o-keyframes changecolor
{
	0%   {color: @pre-text-color; background:red;}
	100% {color: @pre-text-color; background:@blink-bg;}
}
