<ul class="nav nav-bordered m-y" role="tablist">
  <li class="active" role="presentation">
    <a href="#contactLog" role="tab" data-toggle="tab" aria-controls="contactLog">Contact log</a>
  </li>
  <li role="presentation">
    <a href="#emailLog" role="tab" data-toggle="tab" aria-controls="emailLog">Email Log</a>
  </li>
</ul>
<div class="tab-content content-block-tab">
  <div role="tabpanel" class="tab-pane active" id="contactLog">
    {{partial 'contact-logs'}}
  </div>
  <div role="tabpanel" class="tab-pane" id="emailLog">
    {{email-logs contactable_id=model.id}}
  </div>
</div>