.dashhead .nav-bordered {
  li {
    button {
      margin-top: 10px;
    }
    padding-left: 5px;
    padding-right: 1px;
    text-align: center;
  }
  &> li + li {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    border-left: 1px solid @bgFilledGrey8;
  }
  &> li + li:last-child {
    border-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
}
// .fadeout {
//     position: relative;
//     bottom: 1em;
//     height: 1em;
//     background-image: linear-gradient(
//         rgba(255, 255, 255, 0) 0%,
//         rgba(255, 255, 255, 1) 100%
//     );
// }

// .partial-view{
//    max-height: 80px;
//    overflow: hidden;
//    transition: all 0.3s ease 0s !important;
//    &:hover{
//       max-height:100%;
//       overflow: auto;
//    }
// }

.wrapper-index {
  margin: 0 -15px;
  .hr-divider-content {
    background: transparent;
  }
  .hr-divider {
    h3 {
      background: @bgFilledGrey8;
    }
    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .list-group-progress {
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  .statcard {
    &>a {
      text-decoration: none;
    }
  }
}

.name-vertical {
  position: absolute;
  bottom: 1%;
  font-size: 20px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  width: 400px;
  left: 15px;
}

.bgFilledGrey8 {
  background: @bgFilledGrey8;
  height: 100vh;
}

.hr-divider-content {
  z-index: 0;
}

.lf-dialog {
  background: transparent;
  border: 0px;
  max-width: 100%;
}

.list-group-progress {
  background: @list-group-progress;
}

.list-group.compact {
  .list-group-item {
    padding: 1px 10px;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  dt {
    float: left;
    width: 45%;
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 55%;
    padding: 0;
    margin: 0
  }
}

.iconav-brand-icon img {
  max-width: 50px;
}

.input-lg {
  text-align: center;
}

.position-relative {
  position: @position-relative;
}

h3,
.h3 {
  font-size: 22px;
}

@media (max-width: @screen-md-min) {
  h3,
  .h3 {
    font-size: 18px;
  }
}

.custom-select.width100 {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-content {
    width: 500px;
  }
}
