.dashhead .nav-bordered {
  li {
    button,
    a {
      padding: 5px 10px;
    }
    a {
      border-bottom: 0px;
      color: #fff;
      font-weight: normal;
      &:hover {
        background: @brand-primary-hover;
      }
    }
    margin: 5px 0px;
    padding-left: 5px;
    padding-right: 1px;
    text-align: center;
  }
  & > li + li {
    margin-left: 0px;
    padding-left: 5px;
    margin-right: 5px;
    border-left: 1px solid #ccc;
  }
  & > li + li:last-child {
    border-left: 0px;
  }
  h2 {
    font-size: 18px;
    padding: 5px 0px;
  }
}

.flush {
  margin: -5px;
  padding: @grid-gutter-width;
  background-color: gold
}

.dashhead-titles {
  float: none !important;
  padding: 5px 0px;
}

// .fadeout {
//   position: relative;
//   bottom: 1em;
//   height: 1em;
//   background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
// }
// .partial-view {
//   max-height: 95px;
//   overflow: hidden;
//   transition: all 0.3s ease 0s !important;
//   &:hover {
//     max-height: 100%;
//     overflow: auto;
//     .fadeout {
//       display: none;
//     }
//   }
// }
.wrapper-index {
  margin-left: -15px;
  .hr-divider-content {
    background: transparent;
  }
  .hr-divider {
    h3 {
      background: @bgFilledGrey8;
    }
    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .list-group-progress {
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  .statcard {
    & > a {
      text-decoration: none;
    }
  }
}

.name-vertical {
  position: absolute;
  bottom: 1%;
  font-size: 20px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  width: 320px;
  left: 15px;
  z-index: -1;
}

.bgFilledGrey8 {
  background: @bgFilledGrey8;
  height: 100vh;
}

.hr-divider-content {
  z-index: 0;
}

.lf-dialog {
  background: transparent;
  border: 0px;
  max-width: 100%;
}

.list-group-progress {
  background: @list-group-progress;
}

.list-group.compact {
  .list-group-item {
    padding: 1px 10px;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  dt {
    float: left;
    width: 45%;
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 55%;
    padding: 0;
    margin: 0
  }
}

.iconav-brand-icon img {
  max-width: 50px;
}

.input-lg {
  text-align: center;
}

.position-relative {
  position: @position-relative;
}

h3,
.h3 {
  font-size: 22px;
}

@media (max-width: @screen-md-min) {
  h3,
  .h3 {
    font-size: 18px;
  }
}

.custom-select.width100 {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-smaller {
    width: 500px;
  }
}

.announcement {
  table {
    width: 100%;
  }
  p:first-child > iframe {
    width: 100%;
  }
}

.isSync {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  .center {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
  }
}
.panel-body{
  iframe{
    width:100%;
  }
}
@media (max-width: @screen-md-min) {
  .iconav-slider > ul > li:last-child, .name-vertical {
    display: none;
  }
}

.dashboard {
  .panel-group{
    margin-bottom:5px;
  }
  .col-fixed-240 {
    margin-left: 70px;
    width: 400px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
  }
  .col-offset-475{
    padding-left: 485px;
    width: 100%;
    overflow-y: auto;
    padding-right: 15px;
  }
}

@media (min-width: @screen-md-min) {
  .dashboard {
    .panel-group {
      margin-bottom: 5px;
    }
    .panel-default > .panel-heading {
      background: rgba(236, 212, 139, 0.83)
    }
    .col-fixed-240 {
      width: 400px;
      position: fixed;
      height: 100%;
      overflow-y: auto;
    }
    .col-offset-475 {
      width: 100%;
      overflow-y: auto;
    }
  }
}

@media (max-width: @screen-md-min) {
  .panel-group {
    display: none;
  }
}
