.search-col {
  margin-top: -20px; // offset the min body padding
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: @grid-gutter-width;
    left: 70px;
    width: @search-col-width;
    margin-top: 0;
    margin-bottom: 0;
    background-color: @bgFilledGrey;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0); // Make the sidebar scrollable at all times in Safari
  }
}

@media (min-width: 768px) {
  .with-iconav > .liquid-container {
    padding-left: 70px;
  }
  .with-iconav > .container-fluid.search-panel {
    padding-left: @search-col-padding;
  }
}
