<div class="modal-content modal-smaller">
  <div class="modal-header">
    <button type="button" class="close" {{action dismiss}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Cancel task</h4>
  </div>
  <div class="modal-body ">
    <form class="form">
      <div class="form-group">
        <label>NOTE: </label>
        {{textarea name='noteContentModal' value=noteContentModal class="form-control" rows="4" }}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-sm-4">
      <button type="button" class="btn btn-default btn-block" {{action dismiss}}>Don't Save</button>
    </div>
    <div class="col-sm-8">
      <button type="submit" class="btn btn-danger btn-block" {{action cancel}}>SAVE</button>
    </div>
  </div>
</div>
<!-- /.modal-content -->

