<div class="container-fluid p-t">
    <div class="row">
      <div class="col-lg-3 col-md-12"></div>
      <div class="col-lg-6 col-md-12">
        <h1 class="text-center">Phone Business Coaches:<br>
          Process To Purchase Buyer Leads</h1>
        <h3><strong>Why Purchase Buyer Leads?:</strong></h3>

        <p>1.) Be a product of the product: you’re advising others to become MOBE Consultants and create an income
          promoting our programs. When they ask you, “if this is so good, why aren’t you doing it?” - you’ll be able to
          say that you in fact are.</p>

        <p>AND, once you get your consultant income up, you’ll be a be able to talk about your own results with the
          system
          (although always give income disclaimers and let them know your results are not typical).</p>

        <p>2.) Every business coach on this team should have minimum aspirations to make $150,000+ per year. If you are
          not
          aiming that high, then this is not the place for you.</p>

        <p>Ideally you should be aiming a LOT higher than this.</p>

        <p>It will be much easier for you to get to $150,000+ in this role when you’re able to make an additional $1,250
          per sale from your own buyer leads.</p>

        <p>With this program, you can now get these buyer leads cheaper than anyone else in the company (including all
          our
          consultants). And we can supply you with as many as you like.</p>

        <p>Right now we average over 100 of these a day. MOBE as a company spends over 300k a month on these (some
          months,
          a lot more). MOBE has been buying CPA buyer leads for several years, and would not have continued this long if
          the buys were not profitable overall.</p>

        <p>You can now have the same buyer leads as MOBE gets (we don’t cherry pick them, you get assigned these buyer
          leads from the same sources we use, with a random round robin system).</p>

        <p>Personally, I recommend you get more than 20 a week though for the law of averages to come into effect, and
          for
          you to be profitable.</p>

        <p>How profitable you are will depend on how well you follow up with each of your leads, and your skill on the
          phone.</p>

        <p>3.) The real money will be made on the back end. The $1,625 on each Silver Masterclass sale is nice ($1,250
          consultant commission + $375 phone sales commission) is very nice.</p>

        <p>However, when you start getting the $3,300, $5,500, and $10,000 back end consultant commissions which our
          experience senior business coaches will be making for you, that’s when the real profit begins.</p>

        <p>As a business coach, you should be all aiming to sell at least 20+ Silvers a month (we’ve had business
          coaches
          sell over 40 / month at one point).</p>

        <p>Of these 20, if just 4 of them are coming from your own buyer leads, you have just made an extra $5,000 for
          the
          month (4 x $1,250) on top of your phone sales commissions.</p>

        <p>Out of those 4, lets say that just one of them buys the Titanium Mastermind after speaking with a senior
          business coach. Based on historical numbers, 1/4 is quite conservative, especially if you do a good job
          positioning the senior business coach the right way.</p>

        <p>Now you’ve made an extra $3,300 for the month, with absolutely no extra effort on your part.</p>

        <p>With the $5,000 mentioned above and this $3,300 commission, that’s now an extra $8,800 on top of your phone
          commissions.</p>

        <p>Every 2 months, at least one of your new Titanium buyers should be buying Platinum. Again this is based on
          company averages and is actually on the more conservative side.</p>

        <p>So every 2 months, that’s an extra $5,500. Or another way of looking at it, is you’re making an extra $2,750
          per
          month on average.</p>

        <p>Add this to the extra $8,800 we mentioned before, and you’re now at $11,550 per month.</p>

        <p>Again, this is on top of your normal phone commissions (if you’re doing 20 Silver Masterclass sales a month,
          you’re making $7,500 per month in phone commissions). You also can potentially be getting prize money on top
          of
          that if you’re selling more than the other business coaches.</p>

        <p>If we take the $11,550 in consultant commissions, and add that to your $7,500 in phone commissions, we’re now
          at
          $19,050 per month.</p>

        <p>And we haven’t even considered the Diamond Mastermind $10,000 consultant commissions you could make on top of
          that.</p>


        <h3><strong>$19,050 / Month = $228,600 / Year!</strong></h3>

        <h3>Is this all profit?</h3>

        <p>Of course not. You need to factor in your time - this is a full time, 6 day / week role.</p>

        <p>And then you need to take into account your advertising budget.</p>

        <p>The $11,550 in consultant commissions each month adds up to $138,600 per year.</p>

        <p>Now here’s my question to you:</p>

        <p>What if you had to invest $8,000 / month to make this happen. Would it be worth it?</p>

        <p>$8,000 / month equals $96,000 / year.</p>

        <p>Spend $96,000 to make back $138,600?</p>

        <p>I think you know the answer to that one.</p>
        <p> +++++++</p>

        <div class="panel-body">
          <p><strong>Marlon Nuqui Makes A Passive $8,800 From WSGT:</strong></p>

          <p><a href="https://www.screencast.com/t/k6gg1ieOjm" target="_blank" class="btn btn-default">Click here to watch</a></p>

          <p>This $8,800 was made passively by Marlon after he took advantage of this offer to get WSGT at a discounted rate.  He also made another $1,250 on the Silver sale for the same customer!</p>
        </div>

        <p>At $150 / buyer lead, $8,000 / month is going to buy you 53 buyer leads approximately.</p>

        <p>From 53 buyer leads, you need to get those 4 Silver Masterclass sales for the above numbers to work.</p>

        <p>That’s a conversion rate of 7.5%.</p>

        <p>Another way of looking at it, is you must get about one sale for every 14 leads you speak to.</p>

        <h4>Can you convert 1 / 14?</h4>

        <p>Based on the numbers that I see from the traffic sources from these buyers, 1/14 is ambitious.</p>

        <p>It can be done, BUT you must be meticulous in your follow up. The biggest factor will be how well you
          establish contact with the lead (ie. get them on the phone). As many as 30% of these leads get stuck on Step 0. If you
          can reduce that number down to 10%, by calling the lead at multiple times throughout the day and using other
          mediums to make contact (email, text message, Facebook), this will have an enormous impact on your overall
          conversions.</p>

        <p>One more thing: the above scenario where you invest $96,000 to generate $138,600 in commissions does not take
          into account Diamond commissions.</p>

        <p>From the 6 Platinum sales, over time (as they attend the live mastermind events and hear the offer for
          Diamond again) it’s reasonable to expect 2-3 Diamond sales. Or $20,000 - $30,000.</p>

        <p>We also did not factor in the monthly Inner Circle commissions, or the commissions from other programs they
          might buy from MOBE.</p>

        <p>
          <small>***Disclaimer: there’s no guarantees here on how much you’ll make. The biggest factor in all of this
            will be your own follow up and sales ability.
          </small>
        </p>


        <h3><strong>“All Of This Sounds Great, How Do I Get Some Of These Buyer Leads?”</strong></h3>


        <p>Below you’ll find all the details to get started immediately:</p>

        <h3><strong>Package Price:</strong></h3>

        <p> We sell 21 step system buyers to our sales coaches at discounted rate of $150 per buyer - So if a sales
          coach wants to buy 100 MTTB buyers, the total cost for the package will be $15,000. The minimum order is $5,000.</p>

        <p>Choose one of the packages below:</p>
        <ul>

          <li>$5,000</li>
          <li>$7,500</li>
          <li>$10,000</li>
          <li>$12,500</li>
          <li>$15,000</li>
        </ul>


        <p>Please include enough money to cover the bank fee as well when you send the wire.</p>

        <h3><strong>Process to buy:</strong></h3>

        <p>After choosing which package you want above, you can then can transfer funds to our bank account in the USA
          (Details for wiring can be found at www.bankwire.zreply.com - at this time, please use the Chase bank
          account).</p>

        <p>Then send a screenshot of the payment transfer to danny@mobe.com along with details of total number of 21
          step
          system buyers purchased. Also message Danny on Skype to confirm your order - his Skype ID is
          ‘live:dannynathan’</p>

        <p>Once payment is received, finance will send a confirmation to the sales coach, and will create the order in
          our CRM.</p>

        <p>At the same time Finance will forward the order to fullfilllment department.</p>

        <h3><strong>Fulfilment process:</strong></h3>

        <p>Once funds are received by finance, you can expect to have your buyer leads delivered within 14 days.</p>

        <p>We will endeavor to spread the delivery of the buyer leads over a longer period of time, so they don’t all
          come on the same day and overwhelm you.</p>
      </div>
    </div>
</div>
