<div class="table-full">
    <div class="hr-divider m-t">
        <h3 class="hr-divider-content hr-divider-heading">Email Logs</h3>
    </div>
    <div class="table-responsive">
      <a href="#" {{action 'emailLogs'}} class="btn btn-primary">Get Email Logs Data in Console</a>
        <table class="table" data-sort="table">
            <thead>
            <tr>
                <th class="header">subject</th>
                <th class="header">body</th>
            </tr>
            </thead>
            <tbody>
            {{#each contact.emailLogs as |emailLogs|}}
                <tr>
                    <td>{{emailLogs.subject}}</td>
                    <td>{{emailLogs.body}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
