<div class="container-fluid">
  <div class="col-sm-4  ">
    {{partial 'index-stats'}}
  </div>
  <div class="col-sm-2  ">
    {{partial 'index-steps'}}
  </div>
  <div class="col-sm-6 ">
    {{partial 'index-tasks'}}
  </div>
</div>
{{outlet}}
