<div class="container-fluid">
  <div class="col-sm-5">
    {{partial 'index-stats'}} {{partial 'index-steps'}}
  </div>
  <div class="col-sm-7">
    {{partial 'index-tasks'}}
  </div>
</div>
{{outlet}}
