<div class="container-fluid">
  <div class="col-sm-4 sameHeight bgFilledGrey">
    {{partial 'index-stats'}}
  </div>
  <div class="col-sm-2 sameHeight bgFilledGrey8">
    {{partial 'index-steps'}}
  </div>
  <div class="col-sm-6 sameHeight">
    {{partial 'index-tasks'}}
  </div>
</div>
{{outlet}}
