<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <div class="hr-divider m-t">
        <h3 class="hr-divider-content hr-divider-heading">Step 0</h3>
      </div>
      <div class="statcard">
        <div class="p-a p-b-0 text-center">
          <h2 class="statcard-number" style="font-size:48pt">
            27
            {{!-- <small class="label label-success">5%</small> --}}
          </h2>
          <span class="statcard-desc">total</span>
        </div>
      </div>
      <div class="row statcards">
        <div class="col-sm-4">
          <div class="statcard p-b">
            <div class="p-l">
              <span class="statcard-desc">&lt;&nbsp;24h</span>
              <h2 class="statcard-number">
                4
                {{!-- <small class="label label-success">5%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[28,68,41,43,96,45,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="statcard p-b">
            <div class="p-l">
              <span class="statcard-desc">&lt;&nbsp;5d</span>
              <h2 class="statcard-number">
                12
                {{!-- <small class="label label-danger">1.3%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="statcard statcard-danger blinker">
            <div class="p-l">
              <span class="statcard-desc">5d+</span>
              <h2 class="statcard-number">
                11
                {{!-- <small class="label label-success">6.75%</small> --}}
              </h2>
            </div>
            {{!-- <canvas id="sparkline1" width="318" height="79" class="sparkline" data-chart="spark-line" data-value="[{strokeColor: '#1ca8dd', fillColor:'rgba(28,168,221,.03)', data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 318px; height: 79px;"></canvas> --}}
          </div>
        </div>
      </div>

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">
          steps
        </h3>
      </div>

      <div class="list-group">
        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 62.4%;"></span>
          <span class="pull-right text-muted">62.4%</span> Step 1
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 15.0%;"></span>
          <span class="pull-right text-muted">15.0%</span> Step 2
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">5.0%</span> Step 3
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 5.0%;"></span>
          <span class="pull-right text-muted">5.0%</span> Step 4
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 4.5%;"></span>
          <span class="pull-right text-muted">4.5%</span> Step 5
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 2.3%;"></span>
          <span class="pull-right text-muted">2.3%</span> Step 6
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.7%;"></span>
          <span class="pull-right text-muted">1.7%</span> Step 7
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.5%;"></span>
          <span class="pull-right text-muted">1.5%</span> Step 8
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.4%;"></span>
          <span class="pull-right text-muted">1.4%</span> Step 9
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.2%;"></span>
          <span class="pull-right text-muted">1.2%</span> Step 10
        </a>

        <a class="list-group-item" href="#">
          <span class="list-group-progress" style="width: 1.2%;"></span>
          <span class="pull-right text-muted">1.2%</span> Step 11
        </a>

      </div>
    </div>

    <div class="col-sm-4">

      <div class="hr-divider m-t m-b">
        <h3 class="hr-divider-content hr-divider-heading">Contact Status</h3>
      </div>

      <div class="row statcards">
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">No&nbsp;Contact</span>
              <h2 class="statcard-number">
                5
                <small class="label label-success">5%</small>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">Unreachable</span>
              <h2 class="statcard-number">
                758
                <small class="label label-danger">1.3%</small>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 m-b">
          <div class="statcard">
            <div class="p-a">
              <span class="statcard-desc">Sign-ups</span>
              <h2 class="statcard-number">
                1,293
                <small class="label label-success">6.75%</small>
              </h2>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-5">
      {{partial 'index-tasks'}}
    </div>
  </div>
</div>
{{outlet}}
