<div class="flush">
  <div class="h3 m-t-0 text-center">
    <strong>Leaderboards for Omega October : <a {{action 'pageRefresh'}}><span
        class="icon icon-cycle"></span></a></strong>
  </div>
  {{#if (or (eq application.model.account.team "Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/dmbvWqXUP-I?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Business Coach</span><br/>
        <strong>1st:</strong> Tammy Bee 4<br/>
        <strong>2nd:</strong> Greg Atkins 3<br/>
        <strong>2nd:</strong> Sherry De La Cruz 3<br/>
      </div>
    </div>
  {{/if}}
  {{#if (or (eq application.model.account.team "Senior Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/dmbvWqXUP-I?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Senior Biz Coaches</span>
        <br/>
        <strong>1st:</strong> Tiji Thomas $ 61,659.00
        <br/>
        <strong>2nd:</strong> Marlon Nuqui $31,623.18
        <br/>
        <strong>3rd:</strong> Max Aria $ 11,470.20
        <br/>
        <strong>4th:</strong> Ryan Jaten $ $220.50
        <br/>
      </div>
    </div>
  {{/if}}
  {{#if (or (eq application.model.account.team "Traffic Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/dmbvWqXUP-I?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Traffic Coaches</span>
        <br/>
        <strong>2nd:</strong> Wayne Gosse $9000
        <br/>
        <strong>3rd:</strong> David Amer $ 7875
      </div>
    </div>
  {{/if}}
  <small>Updated 10/5/2016 11:59 pm EST</small>
  <br/>
  <div class="row" style="height: 120px; overflow-y: scroll; background-color: #f2c900; font-size: smaller">
    {{#if (or (eq application.model.account.team "Coach") (eq application.model.account.role "superadmin"))}}
      <div class="col-md-6">
        <strong>3rd:</strong> Travoye McCray 2<br/>
        <strong>3rd:</strong> Carlos Verdugo 2<br/>
        <strong>3rd:</strong> Daryl Larnach 2<br/>
        <strong>3rd:</strong> Glenn Bolton 2<br/>
        <strong>3rd:</strong> Sam Hutchinson 2<br/>
        <strong>3rd:</strong> Grant McDonnell 2<br/>
        <strong>4th:</strong> Steve Hamlin 1<br/>
        <strong>4th:</strong> Terry McDonough 1<br/>
        <strong>4th:</strong> Sebastian Apelbaum 1<br/>
        <strong>4th:</strong> Chuck Powers 1<br/>
        <strong>4th:</strong> Chris Ross 1<br/>
        <strong>5th:</strong> Tyler Shurtliff 0<br/>
        <strong>5th:</strong> Jeff Bigley 0<br/>
        <strong>5th:</strong> Timothy Hillian 0<br/>
        <strong>5th:</strong> Leigh Fish 0<br/>
        <strong>5th:</strong> Laura Marsh 0<br/>
        <strong>5th:</strong> David Traub 0<br/>
        <strong>5th:</strong> Al Monteiro 0<br/>
        <strong>5th:</strong> Karuna Kangaratnam 0<br/>
        <strong>5th:</strong> Chiko Matenda 0<br/>
        <strong>5th:</strong> Paul Finney 0
      </div>
    {{/if}}
    {{#if (or (eq application.model.account.team "Traffic Coach") (eq application.model.account.role "superadmin"))}}
      <div class="col-md-6">
        <strong>4th:</strong> Regina Manuel $ 4500<br/>
        <strong>5th:</strong> Russell DeWitt $ 3725<br/>
        <strong> 5th:</strong> Jason and Erika Miller $ 2250<br/>
        <strong> 6th: </strong> Karen Otto $520<br/>
        <strong> 7th: </strong> Carlo Manf $ 0<br/>
        <strong> 7th:</strong> Raena Lynn $ 0<br/>
        <strong> 7th: </strong> Corey Moore $ 0<br/>
        <strong> 7th: </strong> Christian Stevenson $0
      </div>
    {{/if}}
  </div>
</div>
