<div class="flush">
  <div class="h3 m-t-0 text-center">
    <strong>September Sales Blitz Leaderboards: <a {{action 'pageRefresh'}}><span class="icon icon-cycle"></span></a></strong>
  </div>
  {{#if (or (eq application.model.account.team "Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/hwH8iqyGRx4?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">
        Business Coaches<br />
        <strong>1st:</strong> Greg Atkins 17<br />
        <strong>2nd:</strong> Chris Ross 15<br />
        <strong>3rd:</strong> Tyler Shurtliff 7<br />
        <strong>4th:</strong> Terry McDonough 5<br />
        <strong>4th:</strong> Sam Hutchinson 5<br />
      </span>
      </div>
    </div>
  {{/if}}
  {{#if (or (eq application.model.account.team "Senior Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/hwH8iqyGRx4?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Senior Biz Coaches</span>
        <br />
        <strong>1st:</strong> Marlon Nuqui $172,518.00
        <br />
        <strong>2nd:</strong> Max Aria $162,150.57
        <br />
        <strong>3rd:</strong> Tiji Thomas $142,829.49
        <br />
        <strong>4th:</strong> Ryan Jaten $5000
        <br />
      </div>
    </div>
  {{/if}}
  {{#if (or (eq application.model.account.team "Traffic Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/GexrYnGhmGo?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Traffic Coaches</span>
        <br />
        <strong>1st:</strong> Michelle Perna $89535
        <br />
        <strong>2nd:</strong> Russell DeWitt $77835
        <br />
        <strong>3rd:</strong> Jason and Erika Miller $71250
        <br />
        <strong>4th:</strong> Wayne Gosse $25850
        <br />
      </div>
    </div>
  {{/if}}
  <small>(Leaderboards Updated 9/29/2016 11:59 PM EST)</small>
  <br />
  <div class="row" style="height: 120px; overflow-y: scroll; background-color: #f2c900; font-size: smaller">
    {{#if (or (eq application.model.account.team "Coach") (eq application.model.account.role "superadmin"))}}
      <div class="col-md-6">

        <strong>5th:</strong> Timothy Hillian 4
        <br />
        <strong>5th:</strong> Jeff Bigley 4
        <br />
        <strong>5th:</strong> Sherry De La Cruz 4
        <br />
        <strong>5th:</strong> Travoye McCray 4
        <br />
        <strong>5th:</strong> Glenn Bolton 4
        <br />
        <strong>6th:</strong> Leigh Fish 3
        <br />
        <strong>6th:</strong> Laura Marsh 3
        <br />
        <strong>6th:</strong> David Traub 3
        <br />
        <strong>6th:</strong> Al Monteiro 3
        <br />
        <strong>7th:</strong> Tammy Bee 2
        <br />
        <strong>7th:</strong> Carlos Verdugo 2
        <br />
        <strong>8th:</strong> Karuna Kangaratnam 1
        <br />
        <strong>8th:</strong> Daryl Larnach 1
        <br />
        <strong>8th:</strong> Chuck Powers 1
        <br />
        <strong>9th:</strong> Chiko Matenda 0
        <br />
        <strong>9th:</strong> Sebastian Apelbaum 0
        <br />
        <strong>9th:</strong> Grant McDonnell 0
        <br />
        <strong>9th:</strong> Steve Hamlin 0
        <br />
        <!-- <strong>8th:</strong> Rachel O’Neill 0
        <br /> -->
        <strong>9th:</strong> Paul Finney 0
        <br />

      </div>
    {{/if}}
    {{#if (or (eq application.model.account.team "Traffic Coach") (eq application.model.account.role "superadmin"))}}
      <div class="col-md-6">
        <strong>5th:</strong> Regina Manuel $20145
        <br />
        <strong>6th:</strong> David Amer $15750
        <br />
        <strong>7th:</strong> Carlo Manf $8370
        <br />
        <strong>8th:</strong> Raena Lynn $7875
        <br />
        <!-- <strong>8th:</strong> Tony Albert $0
        <br /> -->
        <strong>9th:</strong> Corey Moore $1040
        <br />
        <strong>10th:</strong> Christian Stevenson $0
        <br />
        <strong>10th:</strong> Karen Otto $0
        <br />
      </div>
    {{/if}}
  </div>
  <small><strong>Points system:</strong> Full-pay Silver = 3 points, 2-pay Silver = 2 points</small>
</div>
