<div class="flush">
  <div class="h3 m-t-0 text-center">
    <strong>Leaderboards for Omega October : <a {{action 'pageRefresh'}}><span class="icon icon-cycle"></span></a></strong>
  </div>
  {{#if (or (eq application.model.account.team "Coach") (eq application.model.account.role "superadmin"))}}
  {{/if}}
  {{#if (or (eq application.model.account.team "Senior Coach") (eq application.model.account.role "superadmin"))}}
    <div class="row">
      <div class="col-lg-6">
        <iframe width="210" height="130" src="https://www.youtube.com/embed/dA5u7zU4UKw?rel=0&amp;controls=0&amp;showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <span style="font-size: large">Senior Biz Coaches</span>
        <br/>
        <strong>1st:</strong> Tiji Thomas $ 51,659.00
        <br/>
        <strong>2nd:</strong> Marlon Nuqui $ 28764.
        <br/>
        <strong>3rd:</strong> Max Aria $ 11,470.20
        <br/>
        <strong>4th:</strong> Ryan Jaten $ $220.50
        <br/>
      </div>
    </div>
  {{/if}}
  <small>(Updated 10/3/2016 11:59 pm  EST)</small>
</div>
