<div class="container-fluid p-t">
  <div class="dashhead dashhead-solid">
    <div class="row">
      <div class="col-sm-12">
        <div class="dashhead-titles">
          <h6>Back</h6>
          <h3 class="dashhead-title">Information: </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-a">
    <div class="col-sm-6">
      <div class="hr-divider">
        <h3 class="hr-divider-content hr-divider-heading">
		    Websites link
		 </h3>
      </div>
      <div class="content m-a">
        <ul class="list-group">
          <li class="list-group-header">List group header</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hr-divider">
        <h3 class="hr-divider-content hr-divider-heading">
		    Useful content
		 </h3>
      </div>
      <div class="content m-a">
        <ul class="list-group">
          <li class="list-group-header">List group header</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row m-a">
    <div class="col-sm-6">
      <div class="hr-divider">
        <h3 class="hr-divider-content hr-divider-heading">
		    Resources
		 </h3>
      </div>
      <div class="content m-a">
        <ul class="list-group">
          <li class="list-group-header">List group header</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hr-divider">
        <h3 class="hr-divider-content hr-divider-heading">
		    Documents link
		 </h3>
      </div>
      <div class="content m-a">
        <ul class="list-group">
          <li class="list-group-header">List group header</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{outlet}}
