<div class="hr-divider m-y">
    <h3 class="hr-divider-content hr-divider-heading">MTTB Interview&nbsp;</h3>
</div>
<dl>
  {{#each-in contact.mttbInterview as |key value|}}
      <dt>{{key}}:</dt>
      <dd>{{value}}&nbsp;</dd>
  {{/each-in}}
</dl>