<div class="hr-divider m-y">
  <h3 class="hr-divider-content hr-divider-heading">MTTB Interview&nbsp;</h3>
</div>

{{#each-in contact.mttbInterview as |key value|}}
  <div class="clearfix">{{key}}:&nbsp;<strong>{{value}}</strong></div>
{{/each-in}}
