<div class="hr-divider m-t m-b">
  <h3 class="hr-divider-content hr-divider-heading">Client Notes</h3>
</div>
<div class="table-responsive">
  <table class="table" data-sort="table">
    <thead>
      <tr>
        <th class="header headerSortDown">Date</th>
        <th class="header">Content</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.notes as |note|}}
      <tr>
        <td>{{moment-format note.date}}</td>
        <td>{{note.content}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
