<div class="note-fixed">
  <form class="form" {{action "newNote" noteContent on="submit" }}>
    <div class="input-group">
      {{textarea value=noteContent placeholder="Quick Note" class="form-control custom-control" rows="2"}}
      <span class="input-group-btn btn-success">
         <button id="saveDisabled" class="btn {{btnSuccess}}" type="submit">{{noteText}}</button>
      </span>
    </div>
  </form>
</div>
