<div class="clearfix text-left">

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t1"><strong>PHONE SALES MOBE POLICIES</strong></a>
        </h4>
      </div>
      <div id="t1" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoQ2hKWmVCcUpjZDQ" target="_blank">PR02122016 Discounted Positioning Policy for MOBE Sales Professionals</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoM0pfRGJIYXYtN0E" target="_blank">PR01122016 Discounted Positioning Policy for MOBE Event Sales Professionals</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoZEpSZTUyOXUza0U" target="_blank">PR03122016 MOBE Motors Program For Phone Sales Professionals</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoazltdkZrVWVOb3c" target="_blank">PR04122016 MOBE Phone Sales Team Rewards And Recognition</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoamZsRThXTjNtNTA" target="_blank">PR06122016 Your Career Path Here ON The MOBE Phone Sales Team</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoRTBoVmlKWFNwS0E" target="_blank">PR07122016 Lead Policy For Sales Professionals</a> </li>
            <li><a href="https://docs.google.com/spreadsheets/d/13EebaE8vX5FF6WvadcSysReH3wS4SBPptmHIVW7952w" target="_blank">Main Order Links Page</a></li>
            <li><a href="https://docs.google.com/document/d/1DwIvDyYMdttc5sThqRCUwF2okR8Ls9kpzg1qHTSGBKI" target="_blank" style="background-color:rgb(255,242,204)">Lead policy - PR222</a></li>
            <li><a href="https://docs.google.com/document/d/1Lqf2eHtzqcPib4d5_gRCiKAleMJsAOhc1LtPuvK8pmI" target="_blank">How to use Visa &amp; Mastercard Manual Form</a> </li>
            <li><a href="https://www.google.com/url?q=https%3A%2F%2Fmobe.wufoo.eu%2Fforms%2Fnew-coach-information-form%2F&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzdR1gjLpJt0Z74SmV45KRVomaKl8g" target="_blank">Link to create and/or update your Phone Coaching Information Form (your profile, picture, etc. that affiliates see)</a></li>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fscreencast.com%2Ft%2Fzf0tW2wsGG9&amp;sa=D&amp;sntz=1&amp;usg=AFrqEzdiseRR0Fr6U_wYFwmfFC6Qg_dSLg" target="_blank">Watch this video to show you how to set up your OAP emails once you receive your OAP login details in your @mobe.com email.</a></li>
            <li><a href="https://docs.google.com/document/d/1qvC7VjlvtM8FZZJBc3SshtJdOkLeP5YPMGsucbTFWFg/edit?ts=5739c495" target="_blank">PR2-4162016 Creation of new Payee in WestPak</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t2"><strong>DIAMOND BONUS’S, MENTORSHIP PROGRAMS (25K, 50K,100K)</strong></a>
        </h4>
      </div>
      <div id="t2" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoVk1mTmFuQ19vQW8" target="_blank">Diamond-Bonuses</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoYjVUcTh2dWVKWUk" target="_blank">25K-Product-Funnel-Mentor</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoM2Q1RWw0WTc0RUE" target="_blank">Mentorship-50K-Program</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoX2lMZmVpVl9qWjg" target="_blank">Mentorship-100K-Program</a></li>
            <li><a href="https://drive.google.com/open?id=0Bwt7w-mG-USoVUYxblFSelVvMVk" target="_blank">3 Day- Group Mentorship</a></li>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fd2aa2wmzulxm1d.cloudfront.net%2F100kMentorship-hb.mp4&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGLC7RLjKI4lxr9EifSV2htlVQ88Q"  target="_blank">100k Mentorship video</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t14"><strong>SOPS</strong></a>
        </h4>
      </div>
      <div id="t14" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://docs.google.com/document/d/1M35p0Q8pqwvVEsOVJxQJnUXsFXLQZoVSEZJKGnzcZHs/edit?userstoinvite=theroadleasttravelled@gmail.com&amp;ts=57e138e0&amp;actionButton=1#" target="_blank">SOP For The Business Coach</a></li>
            <li><a href="https://docs.google.com/document/d/1QoWg6uE7TIdIfZB9shJwJGvos1QJ3ItRALnzV2nqg_M/edit?ts=5738cd68" target="_blank">SOP for Reporting Div 2 Activities</a></li>
            <li><a href="https://docs.google.com/document/d/1G4TuY7ggng5zDnXhRVEiph4YWja42NpdUzXFv7o-n5Y/edit?ts=574378a3" target="_blank">SOP for Webinar Follow-Up Sales</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t3"><strong>SCRIPTS</strong></a>
        </h4>
      </div>
      <div id="t3" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://docs.google.com/document/d/1V-rMTOy6VhLN97imfZRvoQf34_e4x17lvvcVNehr0rk/edit?ts=5703b38e" target="_blank">Welcome Call Script</a></li>
            <li><a href="https://docs.google.com/document/d/1rL0IILKZZUOelUkazpOUmVrkKhs94sLODKeb5rLZWrY/edit?ts=5703b3f4" style="line-height:1.25;font-size:10pt;background-color:transparent" target="_blank">Steps 1-2: &nbsp;Overvie</a></li>
            <li><a href="https://docs.google.com/document/d/1rL0IILKZZUOelUkazpOUmVrkKhs94sLODKeb5rLZWrY/edit?ts=5703b3f4" style="line-height:1.25;font-size:10pt;background-color:transparent" target="_blank">w&nbsp;Script</a></li>
            <li><a href="https://docs.google.com/document/d/14kW0-d58BImIo_xCFkrqV3-VFkfx0iHiMiew22vnKGU/edit?ts=5703b490" target="_blank">Steps 3-4: &nbsp;Overview Script</a></li>
            <li><a href="https://docs.google.com/document/d/1wtrqq0tltsNR0OPuSWFMcg3V2R6ah0dw-uGUC_O6Yqs/edit?ts=5703b522" style="line-height:1.25;font-size:10pt;background-color:transparent" target="_blank">Strategy Session Script</a></li>
            <li><a href="https://docs.google.com/document/d/19uajzxQSpgvvGgzFFLo4afyLywFM5_u5m9Ru2NVJrEE#" target="_blank">Dominant Communication Skills</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t4"><strong>L1 MEETING / Call folders</strong></a>
        </h4>
      </div>
      <div id="t4" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0B-_hQIzueThIVzA2dzUtZkptaG8" target="_blank">L1 Daily Calls</a></li>
            <li><a href="https://drive.google.com/open?id=0B-_hQIzueThISWxYeUJza3FaN3c" target="_blank">L1 Weekly Meetings</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t6"><strong>TRAINING MATERIALS & TRAINING CALLS</strong></a>
        </h4>
      </div>
      <div id="t6" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://docs.google.com/document/d/1xkjAby4FlghImXe43OCzaN091YcWyRRgUgP-cn51aMc/edit?ts=5717d3ed" target="_blank">21 Steps Outline</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t7"><strong>MAY 2016 </strong></a>
        </h4>
      </div>
      <div id="t7" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uLVM4N3czb1RwVE0/view?ts=574df490" target="_blank">L1 Training Call - May 23, 2016 - Objections</a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9uTGtaY2kxdlNkMjA/view?usp=sharing" target="_blank">L1 Training Call -&nbsp;May 26, 2016 - Role Play Critique</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uU1FHT1RpcnpzQmM/view?ts=574df3e4" target="_blank">L1 Training Call - May 27, 2016 - Q&amp;A </a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9uZ2ZRQW03Y2hlc3M/view?usp=sharing" target="_blank">L1 Training Call - May 30, 2016 - Objections</a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9uYVhoMS1Kd3hFTnc/view?usp=sharing"target="_blank">L1 Training Call - May 31, 2016 - Coaching&nbsp;</a>(cut off)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t8"><strong>JUNE 2016</strong></a>
        </h4>
      </div>
      <div id="t8" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ueTBBOVhIYUpUbVU/view?ts=57534210" target="_blank">L2 Training Call - June 1, 2016 - Objections</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uZXFIOE1UbXA1NU0/view?ts=575339de" target="_blank">L1 Training Call - June 3, 2016 - Q&amp;A</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uVzNMSngxTmxRNEk/view?ts=57582b16" target="_blank">L1 Training Call - June 6, 2016 - Dominate Communication Style</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uZFRGXzBXR0ZxR3M/view?ts=575f08ad" target="_blank">L1 Training Call - June 10, 2016 - How to get people to follow Steps 1 and 2 </a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uQm1KWlRPemF2ZGM/view?ts=5763006d" target="_blank">L1 Training Call - June 13, 2016 - How to leave voicemail</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uSzZYYVVGSFd5Qm8" target="_blank">L1 Training Call - June 14, 2016-Max on Process</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uQzk1NDRzV2Z2ckk/view?ts=5764a4c8" target="_blank">L1 Training Call - June 17, 2016 - Training with Joe</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uOUJnaDVfbWpKU3c/view?ts=5764a3f5" target="_blank">L1 Training Call - June 16, 2016 - Time Management with Ryan </a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uLURlR3podHdZRlU/view?ts=57692f09" target="_blank">L1 Training Call - June 20, 2016 - Client Retention</a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9udFRndjl2SDdyQTQ/view?usp=sharing" target="_blank">L1 Training Call - June 21, 2016 - Time Management</a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9uaUk1WDN5emowRWM/view?usp=sharing" target="_blank">L1 Training Call - June 23, 2016 - Chris Ross - Call</a></li>
            <li><a href="https://drive.google.com/a/myonlinebusinessempire.com/file/d/0Bygx3PMy8Q9uanBmWTNPcjUwR2s/view?usp=sharing"target="_blank">L1 Training Call - June 24, 2016 - Tiji</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uUWVUWDgwNHhhVlk" target="_blank">L1 Training Call - June 30,2016</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t9"><strong>JULY 2016 </strong></a>
        </h4>
      </div>
      <div id="t9" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uakZUaWtFR2hfS28/view?ts=57770e5d" target="_blank">L1 Training Call - July 1, 2016 - Ryan</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uNVlocG1acTJsM3c" target="_blank">L1 Training Call - July 5, 2016  -  Tiji</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ucG9CUEJ4bFZ2R2s/view?ts=57805694" target="_blank">L1 Training Call - July 7, 2016 - Marlon</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ueWdJVG1uRi1VelU/view?ts=5780563b" target="_blank">L1 Training Call - July 8, 2016 - Joe</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uQXkzR2o5dXBKSWM/view?ts=5783de84" target="_blank">L1 Training Call - July 11, 2016 - Step 3 and 4&nbsp;</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ua1hJOEVQZFRQT0U/view?ts=578586d0" target="_blank">L1 Training Call - July 12, 2016 - Max Aria</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uN3h2X3RNcjVwTEU/view?ts=578bba36" target="_blank">L1 Training Call - July 13, 2016 - Tie Down</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uOS03OWFiOXZxc0E" target="_blank">L1 Training Call - July 14, 2016 - Step 34 with Tiji</a>&nbsp;</li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uVDhNVDBwUFlvZFU/view?ts=578bbac4" target="_blank">L1 Training Call - July 15, 2016 - Marlon</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uYnpVYllsWmxDMjA" target="_blank">L1 Training Call - July 22, 2016 -Max</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ucmpPNXpWX3JNYW8/view?ts=57a22d1f" target="_blank">L1 Training Call - July 25, 2016 - Joe</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uemFfYkhjSzJkVGs/view?ts=57a22d6f" target="_blank">L1 Training Call - July 26, 2016 - Max</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uakpHdnNDeUtBZ00/view?ts=57a22dc0" target="_blank">L1 Training Call - July 29, 2016 - Tiji</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uRG9RcFllb04zQUE" target="_blank">L1 Training Call - July 29, 2016 - Matt IC</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t10"><strong>AUGUST 2016</strong></a>
        </h4>
      </div>
      <div id="t10" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ua3Q2aElIcHJZSDg/view?ts=57abe9b6"target="_blank">L1 Training Call - August 1, 2016 - Rapport Building</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uUndKbkp2M2ZaR1E/view?ts=57abeab1" target="_blank">L1 Training Call - August 2, 2016 - Tiji</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uUHd4UThOUGxaQWs" target="_blank">L1 Training Call  -  August  4,   2016 -  Max</a> </li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uZGdHZ0FKUkJqTms/view?ts=57abe742" target="_blank">L1 Training Call - August 5, 2016 - Marlon</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9ublpGS0hZakVoY00/view?ts=57abe9f1" target="_blank">L1 Training Call - August 8, 2016 - Bill "Tech Talk"</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uTFYyY1VqRFJxTXc/view?ts=57abe6ef" target="_blank">L1 Training Call - August 9, 2016 - Carlos</a></li>
            <li><a href="https://drive.google.com/a/mobe.com/file/d/0Bygx3PMy8Q9uM1F4eDA5eHhLclU/view?ts=57ad1747" target="_blank">L1 Training Call - August 11, 2016 - Ryan</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uNTNMS3dMVG85d1E" target="_blank">L1 Training Call - August 12,  2016 - Call Objections</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uNENBejJTTmpKaUk" target="_blank">L1 Training Call - August 15, 2016 - Trial Closes</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uYjF5QWlKdkN1cXc" target="_blank">L1 Training Call - August 16,  2016 - Tiji</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uVGUzQ2w2UmdMY3M" target="_blank">L1 Training Call - August 18,  2016  - Chris Ross</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uaEFHdjZEcnZsNkE" target="_blank">L1 Training Call - August 19,  2016 - Ryan</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uLWlkVFF4dmFiN0U" target="_blank">L1 Training Call - August 22, 2016  - Tiji</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9ua1NtdG5hVXZLcVk" target="_blank">L1 Training Call - August 25, 2016</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uenFFYmtyQlVCaU0" target="_blank">L1 Training Call - August 26, 2016 - Power of Stories</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uWExXeDVqZlVMSlk" target="_blank">L1 Training Call - August 29, 2016 - Power of Stories 2 with Tiji</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t11"><strong>SEPTEMBER 2016</strong></a>
        </h4>
      </div>
      <div id="t11" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uRXhoczY4cW9LdkE" target="_blank">L1 Training Call - September 1, 2016 - Tech Training</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uSDdaajVCSkJNNjQ" target="_blank">L1 Training Call - September 13, 2016 - Accountability</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uNlU5ZUd2cEhLamM" target="_blank">L1 Training Call - September 23, 2016 - Step 0 Leads and Why People Buy</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uYnN2bnJXMEdKRWc" target="_blank">L1 Training Call - September 27,  2016 - SOP</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9ubm1mWlQ3cXROZmc" target="_blank">L1 Training Call - September 27, 2016 - Tech and Strategy</a> </li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uMmJULWFJVTA2Ymc" target="_blank">L1 Training Call - September 27, 2016 - SOP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t12"><strong>OCTOBER 2016</strong></a>
        </h4>
      </div>
      <div id="t12" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9ucWdXUEM3YkYyamc" target="_blank">L1 Training Call - October 3,  2016 - Training Frame</a></li>
            <li><a href="https://drive.google.com/open?id=0Bygx3PMy8Q9uVnpyV21ZdlZlYmM" target="_blank">L1 Training Call - October 4. 2016 - Goals</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#t13"><strong>NOVEMBER 2016, FOR MOBE COACHES</strong></a>
        </h4>
      </div>
      <div id="t13" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a href="https://drive.google.com/open?id=0B-qi8XZk8UbyZEppSDVRamNVY0E" target="_blank">Funding SOP Mobe Coaches</a></li>
            <li><a href="https://drive.google.com/file/d/0B-qi8XZk8UbyRUhfaUdfTjI5RUU/view">Funding Mobe Student Homework</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

