{{#if (or isSilverWebinar.registered (or isSilverWebinar.attendedLive (or isSilverWebinar.attendedReply)))}}
  <div class="hr-divider m-y">
    <h3 class="hr-divider-content hr-divider-heading">Silver Webinar Status&nbsp;</h3>
  </div>

  {{#if isSilverWebinar.registered}}
    <span class="label label-info">Registered</span>
  {{/if}}

  {{#if isSilverWebinar.attendedLive}}
    <span class="label label-success"> | Attended Live</span>
  {{/if}}

  {{#if isSilverWebinar.attendedReply}}
    <span class="label label-warning"> | Attended Reply</span>
  {{/if}}

{{/if}}